@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #bd6630;
    --secondary-color: #4b4b4b;
    --border-color: rgba(128, 128, 128, 0.4);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--primary-color);
    background-color: rgb(240, 240, 240);
    font-family: "Montserrat", sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 5px;
    background: rgba(255, 255, 255, 0.781);
    position: fixed;
    z-index: 100;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #0e1f05;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

/* Burger menu */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    height: 90vh;
    font-family: "Jost", sans-serif;
}

.title-one {
    color: var(--secondary-color);
    font-weight: 200;
    font-size: 100px;
    margin: 0px;
}

.title-two {
    font-size: 80px;
    color: var(--primary-color);
    font-weight: 200;
    margin: 60px 0 23px 0;
}

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container div {
    padding: 40px 0;
}

.img-container {
    width: 40%;
}

.img {
    border-radius: 200px 200px 0 0;
    background-image: url("#");
    background-size: cover;
    margin-bottom: -250px;
    width: 400px;
    height: 500px;
    border: 1px solid;
    filter: blur(0.5px);
    transition: filter 0.5s;
}

.img:hover {
    filter: blur(0);
}

.btn-one {
    background-color: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 15px 35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 5px 5px #b0b0b0, 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin: 10px;
    text-decoration: none;
}

.btn-one:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 3px 0 #b0b0b0, 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    color: #fff;
    border: none;
}

.btn-one:active {
    background-color: #6b6b6b;
    color: white;
    box-shadow: 0 1px 0 #b0b0b0, 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

#about {
    width: 80%;
    margin: auto;
    background-color: rgb(43, 42, 42);
    padding: 50px;
    color: white;
    border-radius: 20px;
    font-weight: 300;
    line-height: 2em;
}

.title-three {
    font-size: 30px;
    font-weight: 400;
    color: var(--primary-color);
    margin-top: 0px;
}

#projects {
    background-color: #ffffff;
    margin-top: 80px;
    padding: 60px 0;
}


.projects-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px 28px;
    flex-wrap: wrap;
}

.project-display {
    position: relative;
}

.desktop-frame {
    max-width: 500px;
    position: relative;
    z-index: 1;
}

.project-image-container {
    position: absolute;
    top: 22px;
    left: 12px;
}

.project-image {
    width: 480px;
    height: 244px;
    object-fit: cover;
}

.project-info {
    margin-left: 40px;
    text-align: left;
    line-height: 1.8em;
    color: var(--secondary-color);
}

.project-card {
    width: 30%;
    box-shadow: 0 0 0 #b0b0b0, 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card h2 {
    font-size: 30px;
    margin-bottom: 0px;
    color: var(--secondary-color);
    padding: 0 15px;
}

.project-card p {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin-top: 10px;
    padding: 0 15px;
}

.slider-controls {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.slider-controls button {
    background: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 2rem;
    cursor: pointer;
    padding: 0px 10px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    margin-top: 12px;
}

.slider-controls button:hover {
    color: var(--primary-color);
}


/* General styling for the contact section */
.contact-section {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #f8faf7;
}

/* Title styling */
h2 {
    font-size: 2.8rem;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Form styling */
.contact-form {
    display: flex;
    flex-direction: column;

}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    /* background-color: #f8faf7; */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input hover effects */
.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color, 0.3);
    outline: none;
}

.footer-section {
    background-color: rgb(43, 42, 42);
    color: #f9f9f9;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 1300px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.footer-content h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.social-links li a {
    color: #f9f9f9;
    font-size: 1.6rem;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: var(--primary-color);
}

.footer-container p {
    font-size: 1rem;
    color: #ddd;
    line-height: 1.6;
}

.footer-contact a {
    color: #f9f9f9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    text-align: center;
    padding-top: 50px;
    border-top: 1px solid #444;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #bbb;
    margin: 0;
}

.t-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.thank-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    color: var(--secondary-color);
}

.btn-two {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 5px 5px #b0b0b0, 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin: 10px;
    text-decoration: none;
}

.btn-two:hover {
    background-color: var(--secondary-color);
}
.btn-three {
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 5px 5px #b0b0b0, 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin: 10px;
    text-decoration: none;
}

.btn-three:hover {
    background-color: var(--primary-color);
}

/* SKILLS SECTION */
.skills-section {
    padding: 60px 20px;
    background-color: #ffffff;
    text-align: center;
}

.skills-container {
    width: 80%;
    margin: auto;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.skills-list span {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    transition: 0.3s;
    cursor: default;
}

.skills-list span:hover {
    background-color: var(--secondary-color);
}


/* EXPERIENCE SECTION */
.experience-section {
    padding: 60px 20px;
    background-color: rgb(240, 240, 240);
}

.experience-container {
    width: 80%;
    margin: auto;
}

.experience-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
}

.experience-card h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.company {
    font-weight: bold;
    color: var(--primary-color);
}

.duration {
    font-size: 14px;
    margin-bottom: 15px;
}

.experience-card ul {
    margin-top: 15px;
    padding-left: 20px;
}

.experience-card ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
    h2 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1rem;
    }

    .submit-btn {
        font-size: 1.1rem;
    }

    /* Footer Styling */
    .footer-section {
        background-color: rgb(43, 42, 42);
        color: #f9f9f9;
        padding: 60px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        max-width: 1300px;
        width: 100%;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .footer-content h3 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .social-links {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 15px;
    }

    .social-links li a {
        color: #f9f9f9;
        font-size: 1.6rem;
        transition: color 0.3s ease;
    }

    .social-links li a:hover {
        color: var(--primary-color);
    }

    .footer-container p {
        font-size: 1rem;
        color: #ddd;
        line-height: 1.6;
    }

    .footer-contact a {
        color: #f9f9f9;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .footer-contact a:hover {
        color: var(--primary-color);
    }

    .footer-bottom {
        text-align: center;
        padding-top: 50px;
        border-top: 1px solid #444;
    }

    .footer-bottom p {
        font-size: 0.9rem;
        color: #bbb;
        margin: 0;
    }

    .navbar {
        justify-content: end;
        background-color: rgba(255, 255, 255, 0);
    }

    .nav-links {
        position: absolute;
        padding: 30px;
        right: 0;
        height: 100vh;
        width: 40%;
        top: 0px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        align-items: end;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        color: #000000;
        margin-top: 0;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .burger {
        display: flex;
        padding: 10px;
    }

    .nav-active {
        transform: translateX(0);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img {
        margin-bottom: 50px;
        width: 280px;
        height: 350px;
    }

    .hero {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .hero-container {
        width: 100%;
        text-align: center;
        gap: 10px;
        padding-top: 40px;
        align-items: center;
    }

    .projects-wrapper {
        flex-direction: column;
        width: 100%;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .title-two {
        font-size: 50px;
    }

    .title-one {
        font-size: 60px;
    }

}

@media (min-width: 769px) and (max-width: 1160px) {
    .desktop-frame {
        max-width: 300px;
    }

    .project-image-container {
        top: 14px;
        left: 7px
    }

    .project-image {
        width: 282px;
        height: 146px;

    }

    .title-two {
        font-size: 55px;
    }

    .title-one {
        font-size: 60px;
    }

    .img {
        margin-bottom: 10px;
        width: 280px;
        height: 350px;
    }

}

@media (max-width: 480px) {



    .title-two {
        font-size: 40px;
    }

    .title-one {
        font-size: 38px;
    }



    .project-info {
        margin: 30px;
        text-align: justify;
    }

    .desktop-frame {
        max-width: 280px;
    }

    .project-image-container {
        top: 13px;
        left: 8px
    }

    .project-image {
        width: 265px;
        height: 135px;

    }

    #about {
        padding: 40px 20px;
        text-align: justify;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}
